@import url("https://fonts.googleapis.com/css2?family=Baloo 2&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", cursive;
}
body {
  background: #ffe17b;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 10rem;
}
.badge {
  text-transform: uppercase;
  color: #c51605;
  letter-spacing: 1px;
  font-size: 11px;
}
.heading {
  text-transform: uppercase;
  color: #c51605;
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0;
}
.card_group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing_card {
  margin: 20px 30px;
  height: 400px;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease-in-out;
  padding: 16px 14px;
  border-radius: 10px;
  border: 2px solid #c51605;
}
.pricing_card i {
  color: #c51605;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 50%;
  box-shadow: 0 0 34px -12px gray;
}
.pricing_card span {
  color: #c51605;
  margin: -10px 0;
  font-weight: bold;
  font-size: 14px;
}
.price {
  font-size: 30px;
  font-family: "Baloo 2";
}
.package_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.package_list li {
  list-style: none;
  margin: 6px 0;
  color: #c51605;
  font-size: 14px;
}
.get_started_btn {
  border: 2px solid #c51605;
  color: white;
  background: linear-gradient(65deg, #ffe17b, #fd8d14);
  padding: 8px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.get_started_btn:hover {
  background: transparent;
  color: #c51605;
  background-color: #fd8d14;
}
