* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #ffe6a7;
  max-width: 1200px;
  margin: auto;
}
header {
  background-color: #99582a;
  padding: 20px;
  font-size: 2rem;
  color: #432818;
  margin: 10px 0 50px;
  border-radius: 15px;
  box-shadow: rgba(66, 39, 23, 0.959) 0px 5px 10px;
}
input {
  width: 300px;
  padding: 5px;
  font-size: 1.2rem;
  color: #99582a;
  background: #ffe6a7;
  border: #99582a 2px solid;
  border-radius: 8px;
  margin: 40px 0;
}
button {
  background-color: #99582a;
  color: #432818;
  height: 35px;
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 10px;
}
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  background-color: #bb9457;
  width: 320px;
  margin: 30px 0;
  box-shadow: rgba(66, 39, 23, 0.959) 0px 5px 10px;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
}
.product-item:hover {
  transition: 2s ease-in-out;
  border: #c0ada2 solid 2px;
}
.product-item img {
  width: 290px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.product-item span {
  display: inline-block;
  margin-bottom: 0px;
  background-color: #99582a;
  color: #432818;
  padding: 8px 10px;
  border-radius: 10px;
  margin-left: 200px;
}
.product-item span:hover {
  background-color: #432818;
  color: #bb9457;
}
.selected {
  background-color: #ffe6a7;
  border: 2px solid #99582a;
  color: #99582a;
}
@media (max-width: 1000px) {
  #search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  #products {
    justify-content: center;
  }
  .product-item {
    margin: 10px;
  }
}
