h1 {
  color: #f77f00;
  margin-bottom: 50px;
  font-size: 2.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
}
a {
  background-color: #eae2b7;
  margin-bottom: 30px;
  padding: 20px 40px;
  font-size: 1.5rem;
  color: #f77f00;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}
a:hover {
  background-color: #fcbf49;
  color: #eae2b7;
}
